<header class="container overflow-x-scroll mt-3 mb-3 pb-3">
  <nav class="btn-group" aria-label="Global Navigation Menu">
    {% for entry in collections.all | eleventyNavigation %}
      <a class="btn btn-outline-warning {% if entry.url == page.url %}active{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a>
    {% endfor %}
  </nav>
</header>
