{# currently hardcoded into its solo instance on Home. Extend if we want it to be truly reusable. #}

<div class="bg-danger bg-opacity-25 overflow-hidden" style="filter: brightness(1) contrast(6);">
  <div class="d-flex flex-row opacity-25" style="max-height: 20rem; filter: grayscale(1);">
    <img src="/assets/media/IMG_1806.jpeg" class="d-flex flex-fill w-50 object-fit-cover opacity-75" style="transform: rotate(-10deg) scale(1.5);">
    <img src="/assets/media/IMG_1563.png" class="d-flex flex-fill w-50 object-fit-cover" style="transform:scale(1.5);">
  </div>
</div>
