{% set collectionName = listCollection or "characters" %}
{% set items = collections[collectionName] or [] %}

<ul class="list-unstyled">
  {% for item in items %}
  <li class="py-1"><a href="{{ item.url }}">{{ item.data.title }}</a></li>
  {% endfor %}
</ul>
