
{#
This was created to use for Session pages but it wasn’t working.
It’s currently unused but we should revisit.
#}

{% extends "base.njk" %}

{% block content %}

<article class="pb-4 mb-4 border-bottom">
  {{ content | safe }}
</article>

{% endblock %}
