body {
  font-family: Garamond;
}
.header {
  padding: 10px;
  text-align: center;
  background: #e4cfcb;
  color: black;
}
.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden;
  background-color: lightcyan;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: None;
}
.navbar a:hover {
  background-color: #e4cfcb;
}
